button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color-border-button;
	border-radius: 3px;
	background: $color-background-button;
	color: $color-white;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	display: block;
	@include font-size(2.5);
	font-weight: bold;
	line-height: 1;
	margin: $base-padding;
	padding: $base-padding;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	width: 40%;
}

.button {
	display: block;
	@include link-colors($color-white, $color-white);
	margin: $base-padding auto;
	padding: 5px;
	text-align: center;
	-webkit-appearance: none;
	width: auto;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: lighten( $color-background-button, 5% );
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: $color-border-button-focus;
}
