input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color-text-input;
	border: 1px solid $color-border-input;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $color-text-input-focus;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/* RSVP Form */
.hentry {
	select {
    height: 48px;
    background: transparent;
    border: 1px solid #CCCCCC;
	}

	.gfield {
		margin-top: 10px;
		padding: 15px;

		&:nth-child(odd) {
			background: rgba(lighten($color-accent-two, 40%), 0.2);
			border-bottom: 1px solid rgba(lighten($color-accent-two, 10%), 0.7);
			border-top: 1px solid rgba(lighten($color-accent-two, 10%), 0.7);
		}
	}

	div.ginput_complex.ginput_container.gf_name_has_2 span {

		&.name_prefix {
			width: 20%;
		}

		&.name_first {
			width: 50%;
		}
	}

	.gform_wrapper li.field_description_above .gfield_description {
		display: inline;
		margin-left: 10px !important;
	}

	.gform_wrapper ul.gfield_checkbox li,
	.gform_wrapper ul.gfield_radio li {
		display: inline-block;
		max-width: 30%;
		margin: 15px;
		width: auto;
	}
}
