body {
	background: $color-primary;
}

.site {
		@include container();
		background: $color-background-screen;
	}

.site-content {
	background: $color-background-screen;
	max-width: $max-width-px;
	margin: $margin-center;
}


.site-header, .site-footer {
	background: $color-primary;
	color: $color-white;
	margin: $margin-center;
}

.site-header {
	background: url( $asset-path + 'img/banner-sm.jpg' ) center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		margin: 0 auto;
		min-height: 60px;
		text-align: center;

		@include breakpoint( $breakpoint-1 ) {
			background-image: url( $asset-path + 'img/banner-med.jpg' );
			background-position: center;
			min-height: auto;
			height: 200px;
		}

		@include breakpoint( $breakpoint-2 ) {
			height: 300px;
			text-align: left;
		}

		@include breakpoint( $breakpoint-3 ) {
			background-image: url( $asset-path + 'img/banner.jpg' );
		}

		@include breakpoint( $breakpoint-4 ) {
			height: 450px;
		}

	.site-branding {
		padding: $padding-more;
		h1{
				line-height: 1em;
				margin: 0;
				padding: 0;

				a{
					color: $color-white;
					font-weight: normal;
					text-decoration: none;
				}

				img {
					@include breakpoint( $breakpoint-1 ) {
						max-height: 300px;
					}
				}
		}
	}

	svg {
		height: 3em;
		vertical-align: middle;

		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
}


.site-footer {
	a {
		@include link-colors( $color-accent-three, $color-secondary );
	}
}

.content-area {
	margin: $margin-center;
	max-width: $max-width-percent;
	padding: $padding-more 0 $padding-less;

	@include breakpoint( $breakpoint-2 ) {
		display: inline-block;
		padding: $padding-more;
		width: 60%;
		vertical-align: top;
	}

	@include breakpoint( $breakpoint-3 ) {
		width: 69%;
	}

	&.one-col {
		display: block;
		width: $max-width-percent;

		@include breakpoint( $breakpoint-3 ) {
			width: $max-width-percent - 10;
		}
	}
}

.contain {
	margin: $margin-center;
	max-width: $max-width-px;
}

aside {
	margin: $margin-center;
	max-width: $max-width-percent;

	@include breakpoint( $breakpoint-2 ) {
		display: inline-block;
		padding-top: $padding-more;
		width: 36%;
		vertical-align: top;
	}

	@include breakpoint( $breakpoint-3 ) {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}
