body {
	background: $color-primary;
}

.site {
		@include container();
		background: $color-background-screen;
	}

.site-content {
	background: $color-background-screen;
	max-width: $max-width-px;
	margin: $margin-center;

	.home & {
		max-width: 99%;
	}
}


.site-header, .site-footer {
	background: $color-primary;
	color: $color-white;
	margin: $margin-center;
}

.site-header {
	background: url( $asset-path + 'img/banner-sm.jpg' ) center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		margin: 0 auto;
		min-height: 60px;
		text-align: center;

		@include breakpoint( $breakpoint-1 ) {
			background-image: url( $asset-path + 'img/banner-med.jpg' );
			background-position: center;
			min-height: auto;
		}

		@include breakpoint( $breakpoint-2 ) {
			text-align: left;
		}

		@include breakpoint( $breakpoint-3 ) {
			background-image: url( $asset-path + 'img/banner.jpg' );
		}


	.top-bar {
		background: $color-primary;
		color: $color-white;
		padding: 0 $base-padding;

		&:after {
			@include clearfix();
			@include clearfix-after;
		}
	}

	.site-title {
		float: left;
		line-height: 1em;
		margin: 0;
		max-width: 70%;
		padding: $base-padding 5px;
		text-align: left;

		@include breakpoint-tweener( $breakpoint-3, $breakpoint-4) {
			float: none;
			max-width: none;
			text-align: center;
		}

		@include breakpoint( $breakpoint-3, 'max' ) {
			padding: $base-padding 0 $base-padding $base-padding;
		}

		@include breakpoint-tweener( $breakpoint-4, $max-width-px ) {
			padding-left: $padding-less;
			padding-right: $padding-less;
		}

		 a {
			@include link-colors( $color-white, $color-accent-three );
			text-decoration: none;
		}
	}

	.latest-episode {
		background: rgba($color-black, 0.7);
		padding: $base-padding*2 $base-padding*3;

		@include breakpoint( $breakpoint-2 ) {
			margin: 0 auto;
		}

		h5 {
			border-bottom: 5px solid $color-accent-three;
			font-family: $font-body;
			@include font-size(2.3);
			margin-bottom: $base-padding;
			text-align: left;
		}

		.episode {
			background: $color-white;
			margin: $base-padding 0;
			padding: $base-padding;
		}

		a.show-notes {
			background: $color-white;
			display: inline-block;
			@include font-size(2.6);
			font-weight: bold;
			margin: 0 auto;
			padding: $padding-less;
			text-align: center;

			&:hover,
			&:focus,
			&:active {
				background: $color-primary;
			}
		}

		.wpp-episode-sponsors {
			margin: 0 auto;
			text-align: center;
		}

		.wpp-sponsor {
			display: inline-block;
			margin: $base-padding 0;
			max-width: 48%;
			vertical-align: top;

			&:first-child {
				margin-left: 0;
				margin-right: $padding-less;
			}

			&:last-child {
				margin-left: $padding-less;
				margin-right: 0;
			}

			img {
				background: $color-white;
			}
		}

	}

	svg {
		height: 3em;
		vertical-align: middle;

		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
}


.site-footer {
	a {
		@include link-colors( $color-accent-three, $color-secondary );
	}

	.site-info {
		text-align: center;
	}
}

.content-area {
	margin: $margin-center;
	max-width: $max-width-percent;
	padding: $padding-more 0 $padding-less;

	@include breakpoint( $breakpoint-3 ) {
		display: inline-block;
		padding: $padding-more;
		width: 69%;
		vertical-align: top;
	}

	&.one-col {
		display: block;
		width: $max-width-percent;

		&.home {
			width: 95%;
		}

		@include breakpoint( $breakpoint-3 ) {
			width: $max-width-percent - 10;
		}
	}
}

.contain {
	margin: $margin-center;
	max-width: $max-width-px;
}

aside {
	margin: $margin-center;
	max-width: $max-width-percent;

	@include breakpoint( $breakpoint-3 ) {
		display: inline-block;
		padding-top: $padding-more;
		width: 30%;
		vertical-align: top;
	}

}

.home-grid {
	@include flex();
	justify-content: space-between;
	flex-wrap: wrap;

	@include breakpoint($breakpoint-1, 'max') {
		display: block;
	}

	article {
		margin: 10px auto;
    width: 32%;

		@include breakpoint($breakpoint-3, 'max') {
			width: 48%;
		}

		@include breakpoint($breakpoint-1, 'max') {
			width: 100%;
		}
	}
}
