.main-navigation {
	background: $color-accent-two;
	text-align: right;

	@include breakpoint( $breakpoint-srsly ) {
		background: $color-secondary;
	}

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: justify;

		&::after {
			display: inline-block;
			height: 0%;
			width: 100%;
		}

		@include breakpoint( $breakpoint-1 ) {
			text-align: right;
		}
	}

	li {
		display: inline-block;

		&:hover > a {
		}

		a {
			color: $color-white;
			display: inline-block;
			font-weight: bold;
			margin: $base-margin;
			padding: $padding-less;
			text-decoration: none;

		}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {

	}

	}

	.site-title {
		float: left;
		line-height: 1em;
		padding: 0 0 0 $padding-less;

		 a {
			@include link-colors( $color-white, $color-accent );
			text-decoration: none;
		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
}

@include breakpoint( $breakpoint-1, 'max' ) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: inline-block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
