.main-navigation {
	@extend .contain;
	clear: both;
	display: block;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		display: inline;
		text-align: justify;

		&:hover > a {
		}
	
		a {
			background: $color-accent-three;
			color: $color-primary;
			display: inline-block;
			margin: $base-margin;
			padding: $padding-less;
			text-decoration: none;
			
		}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	
	}

	}

}

/* Small menu */
.menu-toggle {
	display: none;
}

@include breakpoint( $breakpoint-1, 'max' ) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
