body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-main;
	font-weight: $font-weight;
	@include font-size(1.8);
	line-height: $font-line-height-body;
}

@import "headings";

@import "copy";

@import "icon-font";
