body {
	background: $color-primary;
}

.site {
		@include container();
		background: $color-background-screen;
	}

.site-content {
	background: $color-background-screen;
	max-width: $max-width-px;
	margin: $margin-center;
}


.site-header, .site-footer {
	background: $color-primary;
	color: $color-white;
	margin: $margin-center;
}

.site-header {
	background: url( $asset-path + 'img/city-sign.jpg' ) no-repeat;
	background-attachment: fixed;
	background-position: 50%;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 200px;

	@include breakpoint( $breakpoint-1 ) {
		min-height: auto;
		height: 570px;
	}

	@include breakpoint( $breakpoint-5 ) {
		background-position: top center;
		-webkit-background-size: contain;
		background-size: contain;
	}

	.site-branding {
		padding: $padding-more;
		h1{
				line-height: 1em;
				margin: 0;
				padding: 0;

				a{
					font-weight: normal;
					text-decoration: none;
				}

				img {
					@include breakpoint( $breakpoint-1 ) {
						max-height: 300px;
					}
				}
		}
	}

	i {
		font-size: 3em;
		color: $color-white;
		padding: 0 $padding-less;
		text-align: right;
		vertical-align: middle;

		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
}


.site-footer {
	a {
		@include link-colors( $color-accent-three, $color-secondary );
	}
}

.content-area {
	margin: $margin-center;
	max-width: $max-width-percent;
	padding: $padding-more 0 $padding-less;

	@include breakpoint( $breakpoint-2 ) {
		display: inline-block;
		padding: $padding-more;
		width: 60%;
		vertical-align: top;
	}

	@include breakpoint( $breakpoint-3 ) {
		width: 69%;
	}

	&.one-col {
		display: block;
		width: $max-width-percent;

		@include breakpoint( $breakpoint-3 ) {
			width: $max-width-percent - 10;
		}
	}
}

.contain {
	margin: $margin-center;
	max-width: $max-width-px;
}

aside {
	margin: $margin-center;
	max-width: $max-width-percent;

	@include breakpoint( $breakpoint-2 ) {
		display: inline-block;
		padding-top: $padding-more;
		width: 36%;
		vertical-align: top;
	}

	@include breakpoint( $breakpoint-3 ) {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}
