body {
	background: $color-primary;
}

.site {
		@include container();
		background: $color-background-screen;
	}

.site-content {
	background: $color-background-screen;
	max-width: $max-width-px;
	margin: $margin-center;

	.home & {
		max-width: $max-width-home;
	}
}


.site-header, .site-footer {
	background: $color-secondary;
	color: $color-white;
	margin: $margin-center;
}

.site-header {

	.impact-img {
		background: url( $asset-path + 'img/erinandjoe-sm.jpg' ) center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		margin: 0 auto;
		min-height: 300px;
		text-align: center;

		@include breakpoint( $breakpoint-1 ) {
			background-image: url( $asset-path + 'img/erinandjoe-med.jpg' );
			background-position: center;
			min-height: auto;
			height: 250px;
		}

		@include breakpoint( $breakpoint-2 ) {
			height: 350px;
		}

		@include breakpoint( $breakpoint-3 ) {
			background-image: url( $asset-path + 'img/erinandjoe.jpg' );
		}

		@include breakpoint( $breakpoint-4 ) {
			height: 400px;
		}

		@include breakpoint( $breakpoint-5 ) {
			height: 500px;
		}

		@include breakpoint( $breakpoint-srsly ) {
			height: 700px;
		}

		#more-stuff {
			margin: $padding-more;
			padding: $padding-more;
			text-align: left;
			display: none;
			transition: display 0.5s linear;
		}
	}

	.site-branding {
		padding: $padding-more;
		h1{
				line-height: 1em;
				margin: 0;
				padding: 0;

				a{
					font-weight: normal;
					text-decoration: none;
				}

				img {
					@include breakpoint( $breakpoint-1 ) {
						max-height: 300px;
					}
				}
		}
	}

	i {
		font-size: 3em;
		color: $color-white;
		padding: 0 $padding-less;
		text-align: right;
		vertical-align: middle;

		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
}


.site-footer {
	background: $color-primary;
	a {
		@include link-colors( $color-white, $color-accent );
	}
}

.content-area {
	margin: $margin-center;
	max-width: $max-width-percent;
	padding: $padding-more 0 $padding-less;

	@include breakpoint( $breakpoint-2 ) {
		display: inline-block;
		padding: $padding-more;
		width: 60%;
		vertical-align: top;
	}

	@include breakpoint( $breakpoint-3 ) {
		width: 69%;
	}

	&.one-col {
		display: block;
		width: $max-width-percent;
	}

	.featured-image {
		@include center-block;
		text-align: center;
	}
}

.contain {
	margin: $margin-center;
	max-width: $max-width-px;
}

aside {
	margin: $margin-center;

	@include breakpoint( $breakpoint-2 ) {
		display: inline-block;
		padding-top: $padding-more;
		width: 36%;
		vertical-align: top;
	}

	@include breakpoint( $breakpoint-3 ) {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}
