.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.footer-columns {

	@include breakpoint($breakpoint-1) {
		@include flex;
		flex-wrap: wrap;
	}

	@include breakpoint($breakpoint-3) {
		flex-wrap: none;
	}

	.footer-widgets {
		margin: 0;
		padding: $base-padding;

		.widget {
			background: none;

			a {
				@include link-colors( $color-white, $color-accent );
			}
		}

		@include breakpoint($breakpoint-1) {
			width: 50%;
		}

		@include breakpoint($breakpoint-3) {
			width: 33.3%;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

section.event-info {
	background: $color-secondary;
}

.home-columns {
	@include breakpoint($breakpoint-2) {
		@include flex;
	}

	aside.box-half {
		margin: $base-margin 0;
		@include breakpoint($breakpoint-2) {
			width: 50%;

			&:first-child {
				margin-right: 15px;
			}
		}


		h2 {
			background: $color-accent-two;
			color: $color-white;
			margin: 0;
			padding: $base-margin/2 $base-padding;
			text-align: left;
			text-transform: uppercase;
		}

		.widget {
			background: $color-white;
			color: $color-black;
			padding: 0;
			margin: 0 0 $base-margin * 2;
		}
	}

	.button {
		width: auto;
	}
}
