.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

aside.footer-widgets {
	display: block;
	padding-top: 25px;
	width: 100%;

	.widget {
		background: none;
		vertical-align: top;

		@include breakpoint( $breakpoint-2 ) {
			display: inline-block;
			width: 49%;
		}

		@include breakpoint( $breakpoint-4 ) {
			display: inline-block;
			margin-right: 1.5em;
			width: 24%;
		}
	}
}

section.event-info {
	background: $color-secondary;
}

aside.box-half {
	margin: $base-margin 0;

	h2 {
		border-bottom: 1px solid $color-accent-two;
		color: $color-accent-two;
		margin: 0;
		padding: $base-margin/2 $base-padding;
		text-align: left;
		text-transform: uppercase;
	}

	p {
		padding: $base-padding;
	}

	@include breakpoint( $breakpoint-2 ) {
		display: inline-block;
		vertical-align: top;
		width: 47%;

		&:first-child {
			margin-right: $base-margin;
		}

		&:last-child {
			margin-left: $base-margin;
		}
	}

	@include breakpoint( $breakpoint-3 ) {
		width: 49.4%;
	}

	.widget {
		background: $color-white;
		color: $color-black;
		padding: 0;
		margin: 0 0 $base-margin * 2;
	}
}
