.sticky {
	display: block;
}

.hentry {
	background: $color-white;
	margin: 0 0 1.5em;

	.featured-image {
		background: #EFEFEF;
		text-align: center;

		img {
			margin: 0 auto -6px;
		}
	}

	.entry {
		@include breakpoint($breakpoint-1) {
			padding: $base-padding;
		}

		body:not(.page-template-page-two-col) & {
			@include breakpoint($breakpoint-2) {
				padding: $base-padding $base-padding*2;
			}

			@include breakpoint($breakpoint-3) {
				padding: $base-padding $base-padding*5;
			}

			@include breakpoint($breakpoint-3-5) {
				padding: $base-padding $base-padding*8.5;
			}
		}
	}

	.entry-header {
		padding: 0 $base-padding;

		a {
				text-decoration: none;
		}
	}

	.entry-content {
		padding: 0 $base-padding;

		@include  breakpoint($breakpoint-2) {
			@include font-size(2.25);
		}
	}

	.entry-footer {
		background: $color-accent-two;
		color: $color-white;
		padding: $base-padding;
		text-align: center;

		a{
			@include link-colors($color-white, lighten($color-gray-base, 20%));
		}

	}
}

.impact-area {
	background: $color-primary;
	color: $color-white;

	@include breakpoint($breakpoint-2) {
		@include font-size(2.6);
	}

	.featured-image {
		margin: 0;
		padding: 0;
		max-width: $breakpoint-4;

		@include breakpoint($breakpoint-4) {
			float: left;
			margin-bottom: -8px;
			margin-right: $base-padding * 2;
			max-width: 400px;
		}
	}

	.featured-content {
		padding: ($base-padding * 2);

		@include breakpoint($breakpoint-4) {
			margin-left: 400px;
		}

		p {
			margin-bottom: 0;
			padding: 0;
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-type-archive-jetpack-portfolio .projects {
		@include flex;
		flex-flow: row wrap;
}

.project {
	background-position: center center;
	background-size: cover;
	margin: $base-padding;
	text-align: center;
	width: 45%;

	&:nth-child(odd) {
		margin-left: 0;
	}

	h3 {
		@include font-size(4);
		margin: 0;
		padding: 0;
		text-shadow: 1px 1px 6px $color-black;

		a {
			background: rgba($color-secondary, 0.7);
			display: block;
			@include link-colors($color-white, darken( $color-white, 5% ));
			padding: $base-padding * 2;
			transition: background 0.5s ease;

			&:hover {
				background: rgba($color-secondary, 0.1);
			}
		}
	}
}
