.sticky {
	display: block;
}

.hentry {
	background: $color-white;
	margin: 0 0 1.5em;

	.entry-header {
		padding: 0 $base-padding;

		a {
				text-decoration: none;
		}
	}

	.entry-content {
		padding: 0 $base-padding;
	}

	.entry-footer {
		background: lighten($color-gray-base, 25%);
		padding: $base-padding;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
