@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "a";
}
.icon-phone:before {
  content: "b";
}
.icon-user:before {
  content: "c";
}
.icon-right:before {
  content: "e";
}
.icon-plus-squared:before {
  content: "f";
}
.icon-calendar:before {
  content: "h";
}
.icon-chat:before {
  content: "i";
}
.icon-comment:before {
  content: "j";
}
.icon-discussion:before {
  content: "k";
}
.icon-tag:before {
  content: "l";
}
.icon-check:before {
  content: "m";
}
.icon-list-unordered:before {
  content: "o";
}
.icon-remove:before {
  content: "q";
}
.icon-pause:before {
  content: "r";
}
.icon-alert:before {
  content: "s";
}
.icon-calendar-1:before {
  content: "t";
}
.icon-file-code:before {
  content: "u";
}
.icon-gear:before {
  content: "v";
}
.icon-align-justify:before {
  content: "x";
}
.icon-battery-empty:before {
  content: "y";
}
.icon-battery-full:before {
  content: "z";
}
.icon-battery-half:before {
  content: "A";
}
.icon-clipboard-pencil:before {
  content: "B";
}
.icon-die-five:before {
  content: "C";
}
.icon-magnifying-glass:before {
  content: "D";
}
.icon-social-dribbble:before {
  content: "E";
}
.icon-social-android:before {
  content: "F";
}
.icon-social-facebook:before {
  content: "G";
}
.icon-social-github:before {
  content: "w";
}
.icon-social-google-plus:before {
  content: "H";
}
.icon-social-instagram:before {
  content: "I";
}
.icon-social-skype:before {
  content: "J";
}
.icon-social-twitter:before {
  content: "K";
}
.icon-star:before {
  content: "L";
}
.icon-code:before {
  content: "n";
}
.icon-link:before {
  content: "p";
}
.icon-refresh:before {
  content: "M";
}
.icon-tablet:before {
  content: "N";
}
.icon-rocket:before {
  content: "d";
}
.icon-vcard:before {
  content: "g";
}
.icon-sharethis:before {
  content: "O";
}
