h1, h2, h3, h4, h5, h6 {
	font-family: $font-sans-alt;
	font-weight: normal;
	line-height: 1.2em;
	margin: $padding-more 0;
}

$start: $font-size-heading-base;
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} {
      font-size: $start;
      }

      $start: $start - 0.5;
  }


	h2 {

		&.big-header {
			color: $color-accent-two;
			font-size: $font-size-huge * 1.5;
			font-variant: small-caps;
			font-weight: bold;
			margin: 0;
			text-align: center;
		}

	}
