h1, h2, h3, h4, h5, h6 {
	font-family: $font-sans-alt;
	font-weight: normal;
}

$start: $font-size-heading-base;
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} {
      @include font-size($start);
      }

      $start: $start - 0.5;
  }


	h2 {

		&.big-header {
			color: $color-accent-two;
			@include font-size($font-size-huge * 1.5);
			font-variant: small-caps;
			font-weight: bold;
			margin: 0;
			text-align: center;
		}

		&.countdown {
			background: $color-secondary;
			color: $color-white;
			font-weight: bold;
			padding: 0;
			text-align: center;
			text-transform: uppercase;

			@include breakpoint( $breakpoint-2 ) {
				color: $color-black;
				@include font-size($font-size-heading-base + 1);

				span {
					background: #FFFFFF;
					border: 3px solid $color-secondary;
					padding: $padding-more;
				}
			}
		}

	}
