h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font-sans-alt;
	font-weight: normal;
}

$start: $font-size-heading-base;
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} { 
      font-size: $start;
      }

      $start: $start - 0.5;
  }