a {
	@include link-colors( $color-secondary, $color-accent-dark );
	text-decoration: underline;
}

blockquote {
	color: $color-gray-base;
	@include font-size(2.5);
	font-style: italic;

	@include breakpoint( $breakpoint-2 ) {
		border-left: 4px solid $color-accent;
		margin-left: 40px;
		padding-left: 25px;
	}
}

hr {
	background-color: $color-background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}


.google-map {
	position: relative;
	padding-bottom: 50%; // This is the aspect ratio
	height: 0;
	overflow: hidden;

 	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

@import "tables";
