$color-primary: #333333; //dark blue
$color-secondary: #D98A49; //burnt orange
$color-accent: #004949; //light blue
$color-accent-two: #226e6c; //logo teal
$color-accent-three: lighten($color-secondary, 10%); //light orange
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-base: #999999;

$color-background-body: $color-white;
$color-background-screen: lighten($color-gray-base, 36%);
$color-background-hr: $color-accent-three;
$color-background-button: $color-accent;
$color-background-pre: $color-primary;
$color-background-ins: $color-accent-two;

$color-text-screen: $color-primary;
$color-text-input: $color-gray-base;
$color-text-input-focus: darken($color-gray-base, 10%);
$color-link: $color-accent-three;
$color-link-visited: $color-accent-three;
$color-link-hover: darken($color-accent-three, 15%);
$color-text-main: $color-primary;

$color-border-button: $color-secondary;
$color-border-button-hover: lighten($color-secondary, 10%);
$color-border-button-focus: lighten($color-secondary, 10%);
$color-border-input: $color-gray-base;
$color-border-abbr: $color-gray-base;
