/** Color Scheme: http://paletton.com/#uid=73t0u0k++obZBKY+WtZ+YiL+Nco **/

$color-primary: #333333; //dark grey
$color-secondary: #00293F;
$color-accent: #EF8200; //orng
$color-accent-dark: #C16900;
$color-accent-two: #003E5F; // tealish
$color-accent-three: #00507A;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-base: #999999;

$color-alert: #880000;

$color-background-body: $color-white;
$color-background-screen: lighten($color-gray-base, 36%);
$color-background-hr: $color-accent-three;
$color-background-button: darken($color-accent, 5%);
$color-background-pre: $color-primary;
$color-background-ins: $color-accent-two;

$color-text-screen: $color-primary;
$color-text-input: $color-gray-base;
$color-text-input-focus: darken($color-gray-base, 10%);
$color-link: $color-accent;
$color-link-visited: $color-accent;
$color-link-hover: $color-accent-three;
$color-text-main: $color-primary;

$color-border-button: darken($color-accent, 5%);
$color-border-button-hover: darken($color-accent, 10%);
$color-border-button-focus: darken($color-accent, 10%);
$color-border-input: $color-gray-base;
$color-border-abbr: $color-gray-base;
