$font-sans: 'ff-tisa-web-pro', serif;
$font-sans-alt: 'league-gothic',sans-serif;;
$font-mono: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

$font-main: $font-sans;
$font-headings: $font-sans-alt;
$font-code: $font-mono;
$font-pre: $font-mono;
$font-line-height-body: 1.5;
$font-line-height-pre: 1.6;
$font-weight: 200;

$font-size-base: 10px;
$font-size-heading-base: 3em;
$font-size-huge: $font-size-heading-base * 1.5;

$svg-path: 'assets/fonts/icon-font.svg';
