$font-serif: 'Marmelad', sans-serif;
$font-sans: 'Roboto Condensed', sans-serif;
$font-sans-alt: 'Ruda', sans-serif;
$font-mono: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

$font-main: $font-serif;
$font-headings: $font-serif;
$font-code: $font-mono;
$font-pre: $font-mono;
$font-line-height-body: 1.5;
$font-line-height-pre: 1.6;