// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin link-colors($link, $hover) {
	&:link,
	&:visited {
		color: $link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $hover;
	}
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Media Query Helpers
@mixin breakpoint($breakpoint, $direction: min) {
	@media (#{$direction}-width: $breakpoint)  {
		@content;
	}
}

/* Extensible Classes */
.alert {
	color: #880000;
	font-weight: bold;
	font-style: italic;
}
