.main-navigation {
	text-align: right;

	@include breakpoint-tweener($breakpoint-header, $breakpoint-4) {
		display: block;
		text-align: center;
	}

	ul {
		display: inline-block;
		list-style: none;
		margin: $base-padding 0 0 0;
		padding-left: 0;
		text-align: justify;

		&::after {
			display: inline-block;
			height: 0%;
			width: 100%;
		}

		@include breakpoint( $breakpoint-header ) {
			@include font-size(2);
			text-align: right;
		}

		@include breakpoint-tweener($breakpoint-header, $breakpoint-3) {
			text-align: center;
		}
	}

	li {
		@include breakpoint($breakpoint-header) {
			display: inline-block;
		}

		a {
			@include link-colors( $color-primary, $color-gray-base );
			font-weight: bold;
			margin: 0;
			padding: $padding-less;
			text-decoration: none;

			@include breakpoint($breakpoint-header, 'max') {
				border-bottom: 1px solid lighten( $color-accent-two, 10% );
				@include link-colors( $color-white, $color-gray-base );
				display: block;
				text-align: center;
			}

		}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {

	}

	}
}

/* Small menu */
.menu-toggle {
	display: none;
	float: right;
}

@include breakpoint( $breakpoint-header, 'max' ) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		@include font-size(2.5);
		padding: $base-padding 10px 0 0;
	}

	.main-navigation.toggled .nav-menu {
		background: $color-secondary;
		@include clearfix-after();
		margin: 15px 30px 20px;
		padding: $base-padding 20px;
		text-align: center;

		a {
			@include link-colors($color-white, darken($color-white, 25%));
		}
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
