.alignleft,
.nav-previous {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright,
.nav-next {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter,
.center {
	@include center-block;
	text-align: center;
}

.nav-previous,
.nav-next {
	max-width: 46%;
}

.nav-previous {
	text-align: right;
}

.nav-next {
	text-align: left;
}
