.widget {
	background: $color-white;
	margin: $base-margin 0;
	padding: $padding-more;


	@include breakpoint( $breakpoint-2 ) {

		&:first-child {
			margin-top: 0;
		}
	}

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}