.widget {
	background: rgba($color-accent-two, 0.2);
	color: $color-primary;
	margin: $base-margin 0;
	padding: $base-padding;

	h3 {
		color: $color-accent-dark;
		font-weight: normal;
	}

	a:not(.button) {
		@include link-colors( $color-accent-three , $color-accent-two );
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: $padding-less;
			list-style-type: none;
		}
	}

	@include breakpoint( $breakpoint-2 ) {

		&:first-child {
			margin-top: 0;
		}
	}

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	section.event-info & {
		background: $color-secondary;
		border-bottom: 1px solid $color-white;
		color: $color-white;
		font-size: 2rem;
		font-size: 20px;
		font-weight: bold;
		margin: 0;
		padding: $base-padding;
		text-align: center;

		&:last-child {
			border: 0;
		}

		a{
			@include link-colors( $color-white, $color-accent-three );
		}

		i {
			font-size: 6rem;
			font-size: 60px;
			font-weight: normal;
		}

		.widget-title {
			background: $color-secondary;
			padding: 0;
			margin: 0;
		}

		@include breakpoint( $breakpoint-2 ) {
			border-bottom: 0;
			border-right: 1px solid $color-white;
			display: inline-block;
			padding: $base-padding;
			margin: 0;
			vertical-align: top;
			width: 33%;
		}

	}
}

aside.box-half .widget-content {
	@include font-size(2.25);
	padding: $base-padding $base-padding*2;

	h3 {
		font-variant: small-caps;
		font-weight: normal;
		line-height: 1.2em;

		a {
			@include link-colors( $color-accent-dark, $color-accent );
		}

		@include breakpoint($breakpoint-3) {
			@include font-size(5.2);
		}
	}

	p {
		margin: 0;
	}
}

.widget_parsec-recent-project-widget {
	.widget-content .project {
		background-position: center center;
		background-size: cover;
		margin: $base-padding 0;
		text-align: center;

		h3 {
			@include font-size(4);
			margin: 0;
			padding: 0;
			text-shadow: 1px 1px 6px $color-black;

			a {
				background: rgba($color-secondary, 0.7);
				display: block;
				@include link-colors($color-white, darken( $color-white, 5% ));
				padding: $base-padding * 2;
				transition: background 0.5s ease;

				&:hover {
					background: rgba($color-secondary, 0.1);
				}
			}
		}
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}
