.widget {
	background: $color-white;
	margin: $base-margin 0;

	.widget-title {
		background: $color-accent-two;
		color: $color-white;
		padding: $base-padding;
		margin-bottom: $base-margin;
	}


	@include breakpoint( $breakpoint-2 ) {

		&:first-child {
			margin-top: 0;
		}
	}

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}
