.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.footer-columns {

	@include breakpoint($breakpoint-1) {
		@include flex;
		flex-wrap: wrap;
	}

	@include breakpoint($breakpoint-3) {
		flex-wrap: none;
	}

	.footer-widgets {
		margin: 0;
		padding: $base-padding;

		.widget {
			background: none;

			a {
				@include link-colors( $color-white, $color-accent );
			}
		}

		@include breakpoint($breakpoint-1) {
			width: 50%;
		}

		@include breakpoint($breakpoint-3) {
			width: 33%;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

section.event-info {
	background: $color-secondary;
}

section.home-widgets {
	margin: $base-margin 0;

	@include breakpoint($breakpoint-2) {
		@include flex;
	}


	h2 {
		margin: 0;
		padding: $base-margin/2 0;
		text-align: left;
	}

	.widget {
		background: $color-white;
		color: $color-black;
		flex-basis: 0;
		flex-grow: 1;
		padding: 10px 50px;
		margin: 0;

		.textwidget {
			margin-top: 20px;
		}

		&:first-child {
			margin-left: 0;
			border-bottom: 1px solid darken($color-gray-2, 3%);

			@include breakpoint($breakpoint-2) {
				border-bottom: 0;
				border-right: 1px solid darken($color-gray-2, 3%);
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
