.comments-area {
	background: #FFFFFF;
	margin: $base-padding auto;
	max-width: 700px;
	padding: 15px;
}
.comment-list {
	border: 1px solid #EFEFEF;
	list-style-type: none;
	margin: 0 auto;

	li {
		background: $color-white;
		padding: $base-padding;
		border-bottom: 3px solid $color-secondary;
		margin-bottom: $base-margin;

		&:nth-child(even) {
			border-bottom: 3px solid $color-accent-two;
		}

		&.bypostauthor {
			background: rgba($color-accent, 0.10);
		}

		.comment-meta {
			margin-bottom: $padding-less;
			padding: $padding-less;

			img {
				float: left;
				margin: 6px $base-margin 0 0;
			}
		}

		.comment-awaiting-moderation {
			@extend .alert;
		}
	}
}


.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
